.slide-in-fwd-center {
	animation: slide-in-fwd-center 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}